/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Slider Styles */
.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.load {
    /* background-color: #333; */
    background-image: url("https://img.freepik.com/free-photo/narrow-muddy-road-dark-forest_181624-9675.jpg?w=996&t=st=1701563516~exp=1701564116~hmac=ce6c8449c7fde2896bd20bcb02939ce23835c2d4f959458b5814e57164ae0723");
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.7;
}


.content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.principal h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.principal p {
    font-size: 1.2em;
}


/* Blog Container Styles */
.blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;
    background-color:#383838;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: scale(1.03);
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
}


.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #666;
}



button{
    padding: 0.5em 1em;
    background-color: #0ebac5;
    border: none;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s linear;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
}



.button:hover::after, .button:hover::before {
    content: '';
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;

    animation: move-right-side 1s ease infinite;
}

.button:hover::before {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    inset: 0;
    animation: move-left-side 1s ease infinite;
    z-index: -2;
}
@keyframes move-right-side {
    0% {
        inset: 0.3em 0 0 0.3em; /*top | left */
    }

    33% {
        inset: 0 0.3em 0.3em 0; /*right| bottom*/
    }
        
    66% {
        /* top | right | bottom | left */
        inset: 1em 0 0 0.5em; /*top | right */
    }

    100% {
        inset:0  1em 0.5em 0;
    }
}

/* Move left Side */

@keyframes move-left-side {
    0% {
        right: -1em;
        top: -0.5em;
    }

    33% {
        bottom: -1em;
        left: -0.5em;
    }

    66% {
        top: 0;
        right:-0.7;
    }

    100% {
        right: -1em;
        top: -0.5em;
    }
}



/* Footer Styles */

.footer {
    background-color: #f8f9fa; 
    padding: 20px 0; 
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-links li {
    margin-right: 15px; 
}
.social-links li a i {
    font-size: 30px;
}

.social-links a {
    text-decoration: none;
    color: #495057; 
    font-size: 20px; 
}

span {
    font-weight: bold;
}

p {
    margin: 10px 0; 
}

a {
    text-decoration: none;
    color: #007bff;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .social-links {
        margin-top: 15px;
    }
}


/* Responsive Styles */
@media only screen and (max-width: 768px) {
    nav {
        width: 100%;
        right: -100%;
    }
    nav.open {
        right: 0;
    }

    .nav-toggle:checked + .nav-toggle-label {
        transform: rotate(45deg);
    }

    .nav-toggle:checked + .nav-toggle-label span:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle:checked + .nav-toggle-label span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, -5px);
    }
}
